.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
  background-color: #4193cb;
  color: white;
  display: flex;
  justify-content: center;
  /* border-radius: 6px; */
  align-items: center;

  &:hover {
    background-color: white;
    color: #4193cb;
  }

  &.inverted {
    background-color: white;
    color: #4193cb;
    border: 1px solid white;

    &:hover {
      background-color: #4193cb;
      color: white;
      border: none;
    }
  }
}
