.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 38px;
    margin: 0 auto;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    & .project-item {
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 550px) {
  .collection-page {
    .title {
    }
    .items {
      grid-template-columns: 1fr 1fr;
      align-self: center;
    }
  }
}

@media screen and (min-width: 900px) {
  .collection-page {
    .title {
    }
    .items {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
