.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/rockSolid_pool-hero.png');
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .hero-text {
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -0%);
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  h1 {
    font-size: 72px;
  }
}
