.hero-image {
  background-image: /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))  ,*/ url('../../assets/rock_solid.svg');
  height: 80vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /*   background-size: cover; */
  /* position: relative; */

  .hero-text {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -0%);
    color: white;
    letter-spacing: 7px;
    text-transform: uppercase;
  }
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 26px;
  }
}

.button {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}
