.contact-page {
  display: flex;
  flex-direction: column;

  .contact-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('https://i.ibb.co/FYCccPT/pool-patio7.jpg');
    background-position: 0 40%;
    height: 35vh;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .contact-text {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    align-self: center;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .contact-form {
    display: flex;
    margin-top: 25vh;
    justify-content: center;
    align-self: center;
    width: 50%;
  }
}

@media screen and (min-width: 500px) {
  .contact-page {
    .contact-text {
      font-size: 2rem;
    }
  }
}

@media (orientation: landscape) {
  .contact-page {
    .contact-image {
      height: 45vh;
    }
    .contact-text {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 820px) {
  .contact-page {
    .contact-text {
      font-size: 2.5rem;
    }
  }
}
