.contact-page {
  display: flex;
  flex-direction: column;

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('https://i.ibb.co/FYCccPT/pool-patio7.jpg');
    background-position: 0 40%;
    height: 35vh;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .hero-text {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    align-self: center;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .contact-form {
    display: flex;
    margin-top: 25vh;
    justify-content: center;
    align-self: center;
    width: 50%;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    width: 100%;
    text-align: center;

    h3 {
      width: 100%;
    }
  }
  .contact-phone {
    align-self: center;
    color: #4193cb;
    margin-top: 4px;

    .phone-number {
      color: inherit;
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 500px) {
  .contact-page {
    .hero-text {
      font-size: 2rem;
    }
    .contact-info {
      h3 {
        width: 75%;
      }
    }
    .contact-phone {
      .phone-number {
        margin-left: 6px;
        font-size: 22px;
      }
    }
  }
}

@media (orientation: landscape) {
  .contact-page {
    .hero-image {
      height: 45vh;
    }
    .hero-text {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 820px) {
  .contact-page {
    .hero-text {
      font-size: 2.5rem;
    }
    .contact-info {
      font-size: 22px;
      h3 {
        width: 75%;
      }
    }
    .contact-phone {
      .phone-number {
        font-size: 24px;
      }
    }
  }
}
