.contact-us {
  display: flex;
  justify-content: center;
  width: auto;
  width: 65%;
  border: 1px solid #808080;
  border-radius: 10px;
  align-self: center;
  margin-top: 16px;

  form {
    width: 50%;
    margin-bottom: 16px;
  }

  button {
    margin: 0 auto;
  }
}
