.contact-us {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
  margin-top: 16px;
  color: #4193cb;

  form {
    width: 90%;
    margin-bottom: 24px;
  }

  button {
    margin: 0 auto;
  }

  .form-message {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 550px) {
  .contact-us {
    form {
      width: 60%;
    }
  }
}

@media screen and (min-width: 800px) {
  .contact-us {
    form {
      width: 40%;
    }
  }
}
