.contact-us {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
  margin-top: 16px;

  form {
    width: 90%;
  }

  button {
    margin: 0 auto;
  }
}

@media screen and (min-width: 550px) {
  .contact-us {
    form {
      width: 60%;
      margin-bottom: 16px;
    }
  }
}

@media screen and (min-width: 800px) {
  .contact-us {
    form {
      width: 40%;
    }
  }
}
