.contact-us {
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
  margin-top: 16px;
  color: #4193cb;

  form {
    width: 90%;
  }

  button {
    margin: 0 auto;
  }

  .form-message {
    font-size: 20px;
    display: flex;
    justify-content: center;

    .green {
      color: green;
    }
    .red {
      color: red;
    }
  }
}

@media screen and (min-width: 550px) {
  .contact-us {
    form {
      width: 60%;
      margin-bottom: 16px;
    }
  }
}

@media screen and (min-width: 800px) {
  .contact-us {
    form {
      width: 40%;
    }
  }
}
