.directory-heading {
  display: flex;
  justify-content: center;
  margin: 24px;
  text-transform: uppercase;
  color: #4193cb;
  font-size: 50px;
  letter-spacing: 2px;
}

.directory-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(16, 5vw);
  grid-gap: 40px 25px;
  padding: 30px;
  margin-bottom: 24px;
}
