$primary-color: #4193cb;

.header {
  position: sticky;
  top: 0;
  background-color: white;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.15);
  z-index: 1000;
  /*   margin-bottom: 25px; */

  .logo-container {
    /* height: 72px; 
    width: 70px;*/
    display: flex;
    align-items: center;
    color: $primary-color;
    margin-left: 8px;
    /*    margin-top: 5px; */
    font-weight: 600;
    letter-spacing: 2px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      color: $primary-color;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
}
