$primary-color: #4193cb;

.header {
  position: sticky;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*margin-bottom: 25px; 
  border-bottom: 2px solid #4193cb;*/

  .logo-container {
    height: 100%;
    width: 150px;
    padding: 25px;
    color: $primary-color;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      color: $primary-color;
    }
  }
}
