/* .projects-preview {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  color: #4193cb;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
} */

/* @media screen and (min-width: 800px) {
  .projects-preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
} */

.projects-preview {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;

  .title {
    display: flex;
    justify-content: center;
    color: #4193cb;
  }

  .preview {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}

@media screen and (min-width: 550px) {
  .projects-preview {
    align-items: center;

    .preview {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: 900px) {
  .projects-preview {
    .preview {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

/* @media (orientation: landscape) {
  .projects-preview {
    .preview {
      grid-template-columns: 1fr 1fr;
    }
  }
} */
