.projects-preview {
  display: flex;
  flex-direction: column;
  /*   margin-top: 10px; */
  margin-bottom: 30px;

  .title {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 38px;
  }

  .preview {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

@media screen and (min-width: 550px) {
  .projects-preview {
    align-items: center;

    .preview {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: 900px) {
  .projects-preview {
    .preview {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
