.projects-preview {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  color: #4193cb;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
