.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4193cb;
}

/* .title {
  display: flex;
  justify-content: center;
}
.footer-container {
  width: 100%;
}

.row {
  display: flex;
  padding: 16px;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;
}

.column-1 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 10px;
}

.list-1 {
  font-size: 1.3rem;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

.column-2 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 10px;
}

.list-2 {
  font-size: 1.3rem;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

.items {
  padding-bottom: 1rem;
}

a {
  color: white;
} */

.divider {
  height: 5px;
  width: 85%;
  display: flex;
  align-items: center;
  border-top: 1px solid white;
}

.contact {
  color: white;
  font-size: 1.3rem;
  margin-top: 4px;
}

.phone {
  color: white;
  margin: 10px 0 10px 0;
  font-size: 1.3rem;
}

.copyright {
  color: white;
  margin: 10px 0 10px 0;
}

@media screen and (min-width: 600px) {
  .footer {
    .footer-container {
      display: flex;
      justify-content: center;
    }
  }
}
