@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: #4193cb;
}

.group {
  position: relative;
  margin: 35px 0;

  .form-input {
    background: none;
    background-color: white;
    color: #808080;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #4193cb;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  .form-input-label {
    color: #4193cb;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    pointer-events: none;
    letter-spacing: 1px;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
